[alias]
  a = add -A
  am = commit -a --ammend
  br = branch
  pr = pull --rebase
  c = commit -m
  ca = !git add -A && git commit -a -m
  can = !git add -A && git commit --amend --no-edit
  ch = checkout
  chb = checkout -b
  cl =  clone
  d = difftool HEAD --no-prompt
  l = log --color --graph --pretty=format:'%Cred%h%Creset - %<|(60)%s %Cgreen%<(15)%ar%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset ' --abbrev-commit -10
  rb = rebase
  rbc = !git add -A && rebase --continue
  rba = rebase --abort  
  rhh = !git add -A && git commit -m 'UNDONE commit' && git reset --hard HEAD^
  s = status --short
[color]
  ui = true
[merge]
  tool = meld
[mergetool "meld"]
  cmd = meld.exe \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[diff]
  tool = meld
[difftool "meld"]
  cmd = meld.exe \"$LOCAL\" \"$REMOTE\"
[credential]
	helper = wincred
[url "https://github"]
	insteadOf = git://github
